body {
	margin-left: 164px;
	width: 1030px;
	height: 700px;
	border: 1px solid black;
	margin-top: 0px;
	background-image: url(First_Floor.jpg);
	background-repeat: no-repeat;
	overflow: scroll;
	background-position: 155px 0px;

}

.pr {
	text-align: center;
	height: 43px;
	width: 100px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(255,135,40);
	margin-left: 210px;
	color: white;
}

.br  {
	text-align: center;
	height: 43px;
	width: 100px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(255,135,40);
	margin-left: 210px;
	margin-top: 2px;
	color: white;
}

.cr {
	text-align: center;
	height: 43px;
	width: 100px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(255,135,40);
	margin-left: 210px;
	margin-top: 0px;
	color: white;
}

.dr {
	text-align: center;
	height: 35px;
	width: 100px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(255,135,40);
	margin-left: 210px;
	margin-top: 62px;
	color: white;
}

.er {
	text-align: center;
	height: 113px;
	width: 100px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(255,135,40);
	margin-left: 210px;
	margin-top: 0px;
	color: white;
}

.fr {
	text-align: center;
	height: 43px;
	width: 115px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(255,135,40);
	margin-left: 425px;
	margin-top: -630px;
	color: white;
}

.gr {
	text-align: center;
	height: 43px;
	width: 115px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(255,135,40);
	margin-left: 425px;
	margin-top: 0px;
	color: white;
}

.hr {
	text-align: center;
	height: 110px;
	width: 115px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(255,135,40);
	margin-left: 425px;
	margin-top: 0px;
	color: white;
}

.ir {
	text-align: center;
	height: 110px;
	width: 182px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(160,240,40);
	margin-left: 425px;
	margin-top: 0px;
	color: white;
}

.jr {
	text-align: center;
	height: 100px;
	width: 234px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(0,160,460);
	margin-left: 617px;
	margin-top: -159px;
	color: white;
}

.kr {
	text-align: center;
	height: 45px;
	width: 164px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(0,160,460);
	margin-left: 688px;
	margin-top: 54px;
	color: white;
}

.lr {
	text-align: center;
	height: 45px;
	width: 126px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(0,160,460);
	margin-left: 558px;
	margin-top: -103px;
	color: white;
}

.qr {
	background-position: absolute;
	text-align: center;
	height: 45px;
	width: 65px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(230,30,35);
	margin-left: 488px;
	margin-top: -103px;
	color: white;
}

a {
	width: 65px;
	height: 45px;
}

.overlay0 {
	max-width: 65px;
	max-height: 45px;
}

.qr {
	position: absolute;
	margin-left: 488px;
	margin-top: -103px;
}

.yr {
	background-position: absolute;
	text-align: center;
	height: 11px;
	width: 103px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(230,30,35);
	margin-left: 209px;
	margin-top: -393px;
	color: white;
}

.overlayz {
	max-width: 103px;
	max-height: 11px;
}

.yr {
	position: absolute;
	margin-left: 209px;
	margin-top: -393px;
}