/*THE SCREEN RESOLUTION IS 100%*/
body {
	border:2px dashed black;
	margin-left: 155px;
	margin-top: 0px;
	height: 700px;
	width: 1030px;
	background-image: url(Ground_Floor.jpg);
	background-repeat: no-repeat;
	background-position: 155px 0px;
}

.ag {
	text-align: center;
	height: 53px;
	width: 117px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(255,135,40);
	margin-left: 214px;
	color: white;
}

.bg {
	text-align: center;
	height: 53px;
	width: 117px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(255,135,40);
	margin-left: 214px;
	color: white;
}

.cg {
	text-align: center;
	height: 29px;
	width: 117px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(255,135,40);
	margin-left: 214px;
	color: white;
}

.dg {
	text-align: center;
	height: 53px;
	width: 115px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(255,135,40);
	margin-left: 433px;
	margin-top: -309px;
	color: white;
}

.eg {
	text-align: center;
	height: 51px;
	width: 115px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(255,135,40);
	margin-left: 433px;
	color: white;
}

.fg {
	text-align: center;
	height: 28px;
	width: 115px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(185,125,85);
	margin-left: 433px;
	color: white;
}

.gg {
	text-align: center;
	height: 157px;
	width: 181px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(185,235,35);
	margin-left: 433px;
	color: white;
}

.ig {
	margin-top: -146px;
	text-align: center;
	height: 88px;
	width: 107px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(0,160,460);
	margin-left: 623px;
	color: white;
}

.jg {
	margin-top: -146px;
	text-align: center;
	height: 88px;
	width: 125px;
	padding-bottom: 48px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(0,160,460);
	margin-left: 735px;
	color: white;
}

.lg {
	margin-top: 58px;
	text-align: center;
	height: 54px;
	width: 157px;
	padding-bottom: 28px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(0,160,460);
	margin-left: 703px;
	color: white;
	padding-top: 20px;
}

.kg {
	margin-top: -111px;
	text-align: center;
	height: 54px;
	width: 132px;
	padding-bottom: 28px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(0,160,460);
	margin-left: 565px;
	color: white;
	padding-top: 20px;
}

.hg {
	margin-top: -174px;
	text-align: center;
	height: 54px;
	width: 106px;
	padding-bottom: 28px;
	border: 5px solid black;
	font-family: arial, sans-serif;
	background-color: rgb(185,235,35);
	margin-left: 217px;
	color: white;
	padding-top: 20px;
}

.og {
	background-position: absolute;
	text-align: center;
	height: 80px;
	width: 70px;
	padding-bottom: 20px;
	border: 5px solid black;
	font-family: Arial, sans-serif;
	background-color: red;
	margin-left: 495px;
	margin-top: -50px;
	color: white;
}

.overlay {
	max-height: 80px 
	max-width: 70px;
}

.og {
	position: absolute;
	margin-left: 495px;
	margin-top: -50px;
}

.zg {
	background-position: absolute;
	text-align: center;
	height: 35px;
	width: 117px;
	padding-bottom: 20px;
	border: 5px solid black;
	font-family: Arial, sans-serif;
	background-color: red;
	margin-left: 214px;
	margin-top: -325px;
	color: white;
}

.overlayt {
	max-height: 35px;
	max-width: 117px;
}

.zg {
	position: absolute;
	margin-left: 214px;
	margin-top: -325;
}